/* --- Container for the whole download section --- */
.downloadable-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 60px;
}

.left {
    display: flex;
    flex-direction: column;
    gap: 40px;
    flex: 2;
}

.left__title {
    font-size: 33px;
    font-weight: 500;
    color: #000000;
    line-height: 1.25;
    margin: 0;
}

/* --- The file grid --- */
.item-group {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 2rem; /* 32px gap */
    flex-wrap: wrap;
    width: 100%;
}

/* --- The new, bigger file card --- */
.item {
    background: #ffffff; /* Clean white background */
    border-radius: 0.75rem; /* 12px */
    padding: 1.25rem; 
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    border: 1px solid #e2e8f0; /* Light, modern border */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem; /* 8px */
    width: 16rem; /* Bigger: 256px wide */
    box-sizing: border-box;
    transition: all 0.2s ease-in-out;
}

.item:hover {
    /* Add a "lift" effect on hover */
    transform: translateY(-4px);
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

/* --- Thumbnail container --- */
.item__thumb {
    width: 100%; /* Full width of the card */
    height: 10rem; /* Taller: 160px */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background: #f8f9fa; /* Very light grey */
    border-radius: 0.5rem; /* 8px */
}

/* --- Styles for the thumbnail image --- */
.item__thumb img {
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    object-fit: cover; /* 'Cover' looks much better */
    border: none;
}

/* --- Style for "No Preview" (to hold the icon) --- */
.item__thumb .no-preview {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.item__title {
    margin: 0.5rem 0 0.25rem 0;
    padding: 0;
    font-weight: 600; 
    font-size: 1rem; 
    text-align: center;
    width: 100%;
    max-width: 100%;
    line-height: 1.4;
    height: calc(1rem * 1.4 * 2); 
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-break: break-word;
}

.item__title a {
    color: #0099FF;
    text-decoration: none;
}

.item__title a:hover{
    text-decoration: underline;
}

.item__desc {
    margin-top: 0.25rem;
    font-size: 0.875rem; /* Bigger: 14px */
    color: #444; /* Softer, darker grey */
    text-align: center;
    margin-bottom: 0;
    padding: 0;
}


article.item > a[title="Download"] {
    display: none !important;
}

p, h1, h2, h3, h4, h5, h6, div {
    cursor: default;
}

body {
    background: #f8f8f8;
    margin: 0;
    font-family: 'Inter', sans-serif;
} 

.main-container {
    margin: 2rem 4rem 4rem 4rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.project-text {
    color: #000;
    font-family: 'Inter', Arial, sans-serif;
    margin: 0;
    font-size: 1.65rem;
    font-weight: 500;
}

.search-container {
    width: 100%;
    display: flex;
    gap: 1rem;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.08);
    margin-bottom: 1rem;
}

.search-bar {
    width: 100%;
    height: 2.75rem;
    background: #fbfbfb;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-bottom: 1.09px solid #535353;
    border-radius: 8px;
    box-sizing: border-box;
}

.search-bar input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    font-size: 1rem;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    color: #5A5252;
    padding: 0 10px;
}

.filter-dropdown {
    display: none;
    position: absolute;
    top: 170px;
    right: 60px;
    z-index: 1000;
    background: #f8f8f8;
    border: 1px solid #e5e7eb;
    border-radius: 12px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.18);
    padding: 24px 32px;
    min-width: 340px;
}

.filter-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 24px;
}

.filter-dropdown label {
    font-weight: 500;
    color: #374151;
    display: flex;
    flex-direction: column;
}

.filter-dropdown select,
.filter-dropdown input[type="date"] {
    width: 150px;
    margin-top: 6px;
    border: 1px solid #e5e7eb;
    border-radius: 6px;
    padding: 6px 10px;
    font-size: 15px;
    font-family: 'Inter', Arial, sans-serif;
    background: #f9f9f9;
    color: #374151;
}

.filter-dropdown select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding-right: 2rem;
    background: url("data:image/svg+xml;utf8,<svg width='16' height='11' viewBox='0 0 16 11' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M7.99976 7.19417L13.9025 1.29147C14.0125 1.17758 14.144 1.08674 14.2895 1.02424C14.435 0.961746 14.5915 0.92885 14.7498 0.927474C14.9082 0.926098 15.0652 0.95627 15.2117 1.01623C15.3583 1.07619 15.4914 1.16473 15.6034 1.27669C15.7153 1.38866 15.8039 1.5218 15.8638 1.66835C15.9238 1.8149 15.954 1.97192 15.9526 2.13026C15.9512 2.28859 15.9183 2.44506 15.8558 2.59055C15.7933 2.73604 15.7025 2.86762 15.5886 2.97762L8.84283 9.72339C8.61921 9.94694 8.31596 10.0725 7.99976 10.0725C7.68356 10.0725 7.38031 9.94694 7.15669 9.72339L0.41092 2.97762C0.297028 2.86762 0.206183 2.73604 0.143687 2.59055C0.0811915 2.44506 0.0482959 2.28859 0.04692 2.13026C0.0455441 1.97192 0.0757155 1.8149 0.135674 1.66835C0.195632 1.5218 0.284176 1.38866 0.39614 1.27669C0.508103 1.16473 0.641244 1.07619 0.787794 1.01623C0.934343 0.95627 1.09137 0.926098 1.2497 1.02424C1.40804 0.92885 1.56451 0.961746 1.71 1.02424C1.85548 1.08674 1.98706 1.17758 2.09706 1.29147L7.99976 7.19417Z' fill='%23374151'/></svg>") no-repeat right 0.75rem center;
    background-size: 13px 8px;
}

.filter-dropdown select:focus,
.filter-dropdown input[type="date"]:focus {
    outline: none;
    border-color: #646464;
    box-shadow: 0 0 0 2px rgba(139, 139, 139, 0.2);
}

.filter-actions {
    display: flex;
    justify-content: flex-end;
    gap: 6.5px;
    margin-top: 24px;
}

.filter-apply {
    font-family: 'Inter', sans-serif;
    background-color: #00681a;
    color: #F5F5F5;
    font-size: 0.8rem;
    font-weight: 500;
    padding: 0.4rem 1.4rem;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s ease, color 0.2s ease;
    text-decoration: none;
}

.filter-apply:hover {
    background-color: #444;
    color: #fff;
    transform: translateY(-1px);
}

.filter-close {
    background: #808080;
    font-family: 'Inter', sans-serif;
    color: #F5F5F5;
    font-size: 0.8rem;
    font-weight: 500;
    padding: 0.4rem 1.4rem;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s ease, color 0.2s ease;
    text-decoration: none;
}

.filter-close:hover {
    background-color: #444;
    color: #fff;
    transform: translateY(-1px);
}
.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    gap: 0.5rem;
}

.pagination-button { 
    font-family: 'Inter', sans-serif;
    font-size: 0.8rem;
    padding: 0.75rem 1rem;
    border: 1px solid #E5E7EB;
    background: #f8f8f8;
    color: #4B5563;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.2s ease;
    font-weight: 500;
    text-decoration: none;
}

.pagination-button:hover {
    background: #ff9900;
    border-color: #ff9900;
    color: white;
}

.pagination-button.active {
    background: #f8f8f8; 
    font-weight: 700;
    color: #ff9900;
    border: 2px solid #ff9900;
}

.pagination-button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

@media (max-width: 900px) {
    .announce-grid {
        grid-template-columns: 1fr;
    }

    .announce-container {
        padding: 1rem;
    }

    .announce-title {
        font-size: 2rem;
    }

    .pagination-container {
        flex-wrap: wrap;
        gap: 0.25rem;
    }

    .pagination-button {
        padding: 0.5rem 0.75rem;
        font-size: 0.875rem;
    }
}
