#apscheduler==3.10.4
asgiref==3.9.1
colorama==0.4.6
Django==5.2.6
et_xmlfile==2.0.0
#numpy==2.2.2
openpyxl==3.1.5
packaging==25.0
#pandas==2.2.3
#pdf2image==1.17.0
pillow==11.3.0
prompt_toolkit==3.0.52
psycopg2-binary==2.9.10
python-dateutil==2.9.0.post0
pytz==2025.2
#sentence-transformers==3.3.1
six==1.17.0
sqlparse==0.5.3
#torch
tzdata==2025.2
wcwidth==0.2.14
#faker==18.11.1
djangorestframework==3.16.1 
djangorestframework-api-key