main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: stretch;
    margin: 0 5rem 2rem 5rem;
    gap: 0.5rem; 
}
.export-btn {
    font-family: 'Inter', sans-serif;
    background-color: #ff9900;
    color: #F5F5F5;
    font-size: 0.85rem;
    font-weight: 500;
    padding: 0.6rem 1.2rem;
    border-radius: 2rem;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s ease, color 0.2s ease;
    text-decoration: none;
}
.export-btn a{
    color: white;
    text-decoration: none;
}
.export-btn:hover {
    color: white;
    background-color: #444;
}

.export-btn i {
    margin-right: 2.5px;
}
.sub {
    font-size: 1.5rem;
    font-weight: 400;  
    margin-top: 0.7rem;
    margin-bottom: 2.5rem;  
    max-width: 90%;
} 
h2 {
    font-size: 1.75rem;
    font-weight: 500;
    margin: 0 0 1.25rem 0;
}
a {
    text-decoration: none;   
}
.dropdown {
    position: relative;
    width: 16rem;
}
.dropdown-btn { 
    margin: 0;
    width: 100%;
    padding: 0.75rem 1rem;
    border: 0.08rem solid #b6b6b6;
    border-radius: 0.75rem;
    background: #f9f9f9;
    text-align: center;
    cursor: pointer;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 1rem;
}
.dropdown-btn:hover{
    background-color: #000000;
    color: white;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    margin: 0;
    right: 0;
    background: white;
    border: 0.08rem solid #ccc;
    border-radius: 0.75rem;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    z-index: 10;
    overflow: hidden;
}
.dropdown-item {
    padding: 0.75rem;
    cursor: pointer;
    transition: background 0.2s;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 400;
    text-align: center;
    border-bottom: 1px solid rgb(196, 196, 196);
}
.dropdown-item:hover {
    background-color: #000000;
    color: white;
}
.hidden {
    display: none;
}
.upper, .time {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}
.content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.first, .second, .third {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}
.card {
    flex: 1;
    flex-direction: column;
    min-width: 2rem;
    min-height: 2rem;
    background: #fff;
    border-radius: 15px;
    border: 0.08rem solid #b6b6b6;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 1.75rem;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}
.card h4 {
    font-size: 1.25rem;
    font-weight: 400;
    margin: 0 0 1.25rem 0;
    width: 100%;
    text-align: left;
} 

.stat-container {
    flex: 0.33;
    min-width: 280px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.stat {
    background: #fff;
    border-radius: 0.75rem;
    border: 0.08rem solid #b6b6b6;
    padding: 1.75rem;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    height: calc(50% - 0.5rem);
    transition: all 0.2s ease;
}

.stat, .card {
    transition: transform 0.5s ease-in-out, box-shadow 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.stat:hover, .card:hover {
    box-shadow: 0 4px 12px rgba(0,0,0,0.05);
    border-color: #999;
    transform: scale(1.003);
}
.stat-number {
    font-size: 2.25rem;
    font-weight: 600;
    color: #111;
    letter-spacing: -0.5px;
}
.stat-label {
    font-size: 0.95rem;
    color: #555;
    font-weight: 500;
}
.stat-change {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.15rem;
    color: #16a34a;
    font-weight: 500;
}
.stat-change svg {
    color: #16a34a;
}  
.stat-change.negative {
    color: #dc2626;
}

.stat-change.negative svg {
    fill: #dc2626;
}
.popup-overlay {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 99;
    justify-content: center;
    align-items: center;
}
.date-popup.show {
    transform: scale(1);
    opacity: 1;
}
.date-popup {
    background: white;
    border-radius: 1rem;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    padding: 2rem;
    width: 420px;
    max-width: 95%;
    z-index: 100;
    transform: scale(0.9);
    opacity: 0;
    transition: all 0.25s ease;
}
.date-popup h4 {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin-top: 0;
    margin-bottom: 1.5rem;
    font-size: 1.75rem; 
    font-weight: 500;
    color: #000000;
    text-align: center;
    letter-spacing: -0.5px;
}
.date-popup label {
    display: block;
    font-size: 0.95rem;
    margin-top: 0.75rem;
    color: #333;
}
.date-input {
    width: 90%;
    padding: 1rem; 
    border: 1px solid #ccc;
    border-radius: 0.6rem;
    margin-top: 0.5rem;
    font-size: 1.1rem;
}
.popup-actions {
    display: flex;
    justify-content: flex-end;
    gap: 0.75rem;
    margin-top: 1.5rem;
}
.confirm-btn, .cancel-btn {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
    transition: 0.2s;
}
.confirm-btn {
    background-color: black;
    color: white;
}
.confirm-btn:hover {
    background-color: #1b4c32;
}
.cancel-btn {
    background-color: #ccc;
    color: black;
}
.cancel-btn:hover {
    background-color: #aaa;
}
#fileType {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    margin-top: 5px;
    font-size: 14px;
    background-color: #f9f9f9;
    cursor: pointer;
}
#fileType:hover {
    border-color: #888;
} 
 
.card canvas {
    align-self: center;
} 

.card-group {
    display: flex;
    justify-content: space-between; 
    align-items: stretch; 
    flex-wrap: nowrap; 
    gap: 1rem; 
    margin-bottom: 1rem;
}
.card-group .card {
    flex: 1;
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
    justify-content: space-between; 
    padding: 1.5rem;
    border-radius: 15px;
    border: 2px solid white; 
    color: white; 
    min-height: 9rem;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15); 
    transition: all 0.4s ease-in-out; 
}



.card-icon-group {
    display: flex;
    align-items: flex-start;
    gap: 1.25rem; 
    margin-bottom: 0.5rem; 
}

.card-icon {
    width: 3rem; 
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.2); 
    flex-shrink: 0;
}

.card-icon svg {
    width: 1.3rem;
    height: 1.3rem;
    fill: white; 
}

.card-description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    min-height: 3rem;
}

.card-description p {
    font-size: 1.15rem; 
    font-weight: 600; 
    margin: 0 ;
    opacity: 1;
    color: white;
}

.card-description .sub-description {
    font-size: 0.85rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.8); 
    margin-top: 0.2rem;
}



.card-metric-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%; 
    margin-top: 0;
} 

.card-group .card h2 {
    font-size: 3.5rem; 
    font-weight: 900;
    margin: 0; 
    letter-spacing: -2px;
    text-align: left;
    color: white; 
}

.title-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 1.25rem;
}

.info-icon {
    cursor: help;
    color: #666;
    font-size: 1rem;
    position: relative;
    display: inline-flex;
    align-items: flex-start;
    margin-top: -1.2rem; 
    margin-left: 0.5rem;
}

.info-tooltip {
    visibility: hidden;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 100%;
    width: 200px;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 0.75rem;
    border-radius: 0.5rem;
    font-size: 0.85rem;
    font-weight: normal;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
    z-index: 1;
    opacity: 0;
    transition: opacity 0.2s, visibility 0.2s;
}

.info-icon:hover .info-tooltip {
    visibility: visible;
    opacity: 1;
}


.info-tooltip::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #333 transparent transparent transparent;
}
.card-status {
    font-size: 0.9rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.6);
    margin-top: 0.2rem;
}


.card-group .card.color-one {
    background: linear-gradient(135deg, #1abc9c 0%, #16a085 100%);
    border-color: #1abc9c; 
}
.card-group .card.color-one:hover {
    background: linear-gradient(315deg, #1abc9c 0%, #16a085 100%);
    transform: scale(1.03); 
}


.card-group .card.color-two {
    background: linear-gradient(135deg, #3498db 0%, #2980b9 100%);
    border-color: #3498db; 
}
.card-group .card.color-two:hover {
    background: linear-gradient(315deg, #3498db 0%, #2980b9 100%);
    transform: scale(1.03); 
}


.card-group .card.color-three {
    background: linear-gradient(135deg, #9b59b6 0%, #8e44ad 100%);
    border-color: #9b59b6; 
}
.card-group .card.color-three:hover {
    background: linear-gradient(315deg, #9b59b6 0%, #8e44ad 100%);
    transform: scale(1.03); 
}


.card-group .card.color-four {
    background: linear-gradient(135deg, #e67e22 0%, #d35400 100%);
    border-color: #e67e22; 
}
.card-group .card.color-four:hover {
    background: linear-gradient(315deg, #e67e22 0%, #d35400 100%);
    transform: scale(1.03); 
}


@media print {
    * {
        page-break-inside: avoid !important;
        box-sshadow: none !important;
    }
    #card-metrics-group {
        break-after: page !important; 
        padding: 10mm;
        margin: 0;
    }
    
    
    #chart-active-projects,
    #chart-budget-allocation,
    #chart-agenda-distribution,
    #chart-trained-individuals,
    #chart-client-requests {
        break-before: page !important; 
        height: 100vh !important;
        width: 100vw !important;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding: 10mm;
        margin: 0;
    }
    
    #chart-active-projects canvas,
    #chart-budget-allocation canvas,
    #chart-agenda-distribution canvas,
    #chart-trained-individuals canvas,
    #chart-client-requests canvas {
        max-width: 95% !important;
        max-height: 90vh !important;
        height: auto !important;
        width: auto !important;
    }

    .upper, .export, .time, header, footer, .date-filter-group {
        display: none !important;
    }
}
#chart-active-projects canvas,
#chart-budget-allocation canvas,
#chart-agenda-distribution canvas,
#chart-trained-individuals canvas,
#chart-client-requests canvas {
    max-width: 95% !important;
    max-height: 90vh !important;
    height: auto !important; 
    width: auto !important; 
}