{% extends base_template %}
{% load static %}

{% block title %}General System Settings{% endblock %}

{% block content %}
<div class="container-fluid">

    <h1 class="h3 mb-4 text-gray-800">General System Settings</h1>
    <p class="mb-4">Manage site-wide settings like the website name and maintenance mode.</p>

    <div class="row">
        <div class="col-lg-10">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Settings</h6>
                </div>
                <div class="card-body">
                    <form method="POST">
                        {% csrf_token %}
                        
                        {% for setting, form in settings_with_forms %}
                        <div class="form-group row">
                            <label for="{{ form.value.id_for_label }}" class="col-sm-4 col-form-label font-weight-bold">
                                {{ setting.description }}
                                <br>
                                <small class="text-muted font-weight-normal">(<code>{{ setting.key }}</code>)</small>
                            </label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="{{ form.prefix }}-value" id="{{ form.value.id_for_label }}" value="{{ form.value.value|default_if_none:'' }}">
                                
                                {% if form.value.errors %}
                                    <div class="invalid-feedback d-block">
                                        {% for error in form.value.errors %}
                                            {{ error }}
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        <hr>
                        {% endfor %}

                        <div class="d-flex justify-content-end">
                            <a href="{% url 'system_settings:settings' %}" class="btn btn-secondary mr-2">Back to Settings</a>
                            <button type="submit" class="btn btn-primary">
                                <i class="fas fa-save mr-1"></i> Save All Settings
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}