.right-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1;
}

.announce-text {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 19px;
}

.announce-box {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.announce-item {
    display: flex;
    flex-direction: column;
    border-radius: 2px;
    gap: 15px;
    border: 0.7px solid #DDE1E6;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.08);
}

.announce-pic {
    background: #ECECEC;
    height: 200px;
    border-bottom: 0.7px solid #DDE1E6;
}

.announce-date {
    padding: 20px 20px 20px 20px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #E37910;
}

.announce-title {
    padding: 0 20px 20px 20px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 19px;
    margin-bottom: 2rem;
    color: #625C56;
}

.announce-more, .project-more {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 13px;
    color: #2EA8FF;
    text-decoration: none;
    margin-top: -10px;
    cursor: pointer;
}

.empty {
    padding-top: 20px;
    text-align: center;
}

.lbody{
    background: #F9F9F9;
    font-family: 'Inter', sans-serif;
}

.downloadable-container{
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin: 70px;
}

.left{
    display: flex;
    flex-direction: column;
    gap: 40px;
    flex: 2;
}