body {
    background: #F9F9F9;
    font-family: 'Inter', sans-serif;
}

.main {
    display: flex;
    flex-direction: row;
    gap: 70px;
    margin: 70px;
    justify-content: space-between;
}

h2 {
    font-size: 1.75rem;
    font-weight: 500;
}

.hidden {
    display: none;
}

.widgets {
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    padding: 20px;
    max-height: 650px;
    display: flex;
    flex-direction: column;
    min-width: 400px;
}

.widgets-header {
    padding: 20px 20px 0 20px;
    display: flex;
    align-items: center;
    height: 4rem;
}

.widgets button {
    border: 0.11rem solid #262626;
    border-radius: 5rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: 400;
    height: 3rem;
    cursor: pointer;
    transition: all 0.2s ease;
    background-color: white;
    color: #262626;
}

.widgets button:hover {
    background-color: #5b5b5b;
    color: white;
}

.widgets button.active {
    background-color: #262626;
    color: white;
}

.list {
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    padding: 35px 50px;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.green {
    color: #00681a;
}

.red {
    color: #680e00;
}

.gray {
    color: #6c757d;
}

.right-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 30px;
}

.progress-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    justify-content: center;
    margin: 0 30px;
}

.progress-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.progress-svg {
    text-align: center;
    width: 70px;
    height: 70px;
}

.progress-text {
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-weight: 100;
    font-size: 14px;
    white-space: nowrap !important;
    padding: 0.5rem 0 1rem 0;
    text-shadow: 0 0 1px rgba(0, 104, 26, 0.203);
}

.progress-line {
    width: 100%;
    height: 4px;
    background-color: #ADADAD;
    border-radius: 2px;
    margin-top: -2rem;
}

.done {
    background-color: #00681a !important;
}

.alerts-list {
    flex-grow: 1;
    background: #fff;
    border-radius: 12px;
    padding: 1rem 1.5rem;
    height: 23rem;
    overflow: auto;
    
    scrollbar-color: transparent transparent;
    scrollbar-width: thin;
}

.alerts-list::-webkit-scrollbar {
    width: 4px;
}

.alerts-list::-webkit-scrollbar-track {
    background: transparent;
}

.alerts-list::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 4px;
}

.alerts-list:hover {
    scrollbar-color: #c1c1c1 transparent;
}

.alerts-list:hover::-webkit-scrollbar-thumb {
    background: #c1c1c1;
}

.alerts-title {
    font-size: 20px;
    font-weight: 400;
    margin: 10px 10px 0 20px;
    color: #063A1C;
}

.alert-item {
    margin: 10px 0;
    padding: 15px;
    border-left: 7.5px solid #1CB889;
    background-color: #f0f1f3a4;
    display: flex;
    flex-direction: column;
    border-radius: 3px;
    gap: 5px;
    transition: background 0.2s;
    cursor: pointer;
}

.alert-item:last-child {
    border-bottom: none;
}

.alert-item:hover {
    background: #f9f9f9;
}

.alert-project {
    font-weight: 600;
    color: #063A1C;
    font-size: 14px;
}

.alert-status {
    font-size: 13px;
    color: #666;
}

.alert-date {
    font-size: 12px;
    color: #999;
}

.alerts-list ul::-webkit-scrollbar {
    width: 8px;
}

.alerts-list ul::-webkit-scrollbar-thumb {
    background: #e5e7eb;
    border-radius: 6px;
}

.alerts-list ul {
    scrollbar-width: thin;
    scrollbar-color: #e5e7eb #fff;
} 
 
.alerts-list {
    overflow: auto;
}

.step-text {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #000000;
}

.location-text {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #000000;
    margin-top: -10px;
}

.content-text {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #000000;
}

.detail-trio {
    display: flex;
    align-items: flex-start;
    margin-bottom: 15px;
}

.detail-trio > :nth-child(1) {
    margin-right: 10px;
}

.detail-trio > :nth-child(2) {
    margin-right: 50px;
}

.detail-icon {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.detail-item {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 18px;
    width: 180px;
}

.detail-value {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 18px;
    flex: 1;
}

.detail-link {
    color: #0A6C44;
    text-decoration: none;
}

.detail-link:hover {
    text-decoration: underline;
}

.from-text {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #000000;
    text-align: end;
}

.text-button-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.view-change-text {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 13px;
    text-align: end;
    cursor: pointer;
    margin-top: 30px;
}

p, h1, h2, h3, h4, h5, h6, div {
    cursor: default;
}

.name-link {
    color: #0099FF;
    text-decoration: none;
} 
.name-link:hover{
    text-decoration: underline;
} 

.upper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.upper-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

.upper-right {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: flex-end;
}

.file-text {
    font-size: 2.3em;
    font-weight: 600;
}

.green-text {
    color: #0A6C44;
}

.grey-text {
    font-size: 0.9em;
    font-weight: 400;
    color: #6c757d;
}

.deadline-text {
    font-size: 0.9em;
    font-weight: 500;
    color: #ff9900;
}

hr {
    border: none;
    border-top: 1px solid #7b7b7b;
    margin: 0.5rem 1rem;
}

.notes-text {
    font-size: 1.1em;
    font-weight: 400;
    color: #181818;
    word-break: break-word;
}

.trained-individuals-text {
    font-size: 1.5em;
    font-weight: 600;
    color: #181818;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
    margin-top: 4px;
    accent-color: black;
}

.content-leftright {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 150px;
}

.content-left {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.content-right {
    display: flex;
    flex-direction: column;
    gap: 30px;
    min-width: 40%;
    max-width: 40%;
}

.red {
    color: #D5110A;
}

.redirect-text {
    color: #007bff;
    text-decoration: none;
}

.redirect-container {
    display: flex;
    gap: 20px;
}

.redirect-text:hover {
    text-decoration: underline;
    cursor: pointer;
}

.action-container {
    margin-top: 0.5rem;
}

.action-form {
    display: flex;
    gap: 15px;
    justify-content: center;
}

.no-data {
    margin-top: 2rem;
}