.topbar-icon-btn {
    position: relative;
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s ease;
}

.topbar-icon-btn svg {
    height: 16.7px !important;
    width: 16.7px !important;
    fill: #8f8f8f;
    transition: fill 0.2s ease;
}

.topbar-icon-btn:hover svg  {
    fill: #185235;
}

.topbar-icon-btn.active svg {
    fill: #185235;
}