{% extends "base_internal.html" %}
{% block content %}
<h2>Project Details</h2>
<table>
    <tbody>
        <tr><th>ID</th><td>{{ project.id }}</td></tr>
        <tr><th>Title</th><td>{{ project.title }}</td></tr>
        <tr><th>Project Leader</th><td>{{ project.project_leader }}</td></tr>
        <tr><th>Providers</th><td>
            {% if project.providers.all %}
                {% for p in project.providers.all %}{{ p }}{% if not forloop.last %}, {% endif %}{% endfor %}
            {% else %}
                <em>None</em>
            {% endif %}
        </td></tr>
        <tr><th>Agenda</th><td>{{ project.agenda }}</td></tr>
        <tr><th>Project Type</th><td>{{ project.project_type }}</td></tr>
        <tr><th>SDGs</th><td>
            {% if project.sdgs.all %}
                {% for sdg in project.sdgs.all %}{{ sdg }}{% if not forloop.last %}, {% endif %}{% endfor %}
            {% else %}
                <em>None</em>
            {% endif %}
        </td></tr>
        <tr><th>Estimated Events</th><td>{{ project.estimated_events }}</td></tr>
        <tr><th>Estimated Trainees</th><td>{{ project.estimated_trainees }}</td></tr>
        <tr><th>Primary Beneficiary</th><td>{{ project.primary_beneficiary }}</td></tr>
        <tr><th>Primary Location</th><td>{{ project.primary_location }}</td></tr>
        <tr><th>Logistics Type</th><td>{{ project.logistics_type }}</td></tr>
        <tr><th>Internal Budget</th><td>{{ project.internal_budget }}</td></tr>
        <tr><th>Proposal Document</th><td>
            {% if project.proposal_document %}
                <a href="{{ project.proposal_document.url }}">Download</a>
            {% else %}
                <em>None</em>
            {% endif %}
        </td></tr>
        <tr><th>Additional Documents</th><td>
            {% if project.additional_documents.all %}
                <ul>
                {% for doc in project.additional_documents.all %}
                    <li><a href="{{ doc.file.url }}">{{ doc.file.name }}</a></li>
                {% empty %}
                    <li><em>None</em></li>
                {% endfor %}
                </ul>
            {% else %}
                <em>None</em>
            {% endif %}
        </td></tr>
        <tr><th>External Budget</th><td>{{ project.external_budget }}</td></tr>
        <tr><th>Sponsor Name</th><td>{{ project.sponsor_name }}</td></tr>
        <tr><th>Start Date</th><td>{{ project.start_date }}</td></tr>
        <tr><th>Estimated End Date</th><td>{{ project.estimated_end_date }}</td></tr>
        <tr><th>Status</th><td>{{ project.get_status_display }}</td></tr>
        <tr><th>Created At</th><td>{{ project.created_at }}</td></tr>
        <tr><th>Created By</th><td>{{ project.created_by }}</td></tr>
        <tr><th>Updated At</th><td>{{ project.updated_at }}</td></tr>
        <tr><th>Updated By</th><td>{{ project.updated_by }}</td></tr>
    </tbody>
</table>
{% endblock %}
